
img {
    position: absolute;
    left: 10px;
    top: 0px;
    z-index: 1;
    border-radius:40px;
    padding: 10px;
    /*background-color: antiquewhite*/
}



body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
html,body {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
input{
	border:1px solid #b0b0b0;
	padding:3px 5px 4px;
	color:#979797;
	width:190px;
}
address,caption,cite,code,dfn,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}
/* General Demo Style */
body{
  font-family: "helvetica neue", helvetica;
	background: #000;
	font-weight: 400;
	font-size: 15px;
	color: #aa3e03;
	overflow-y: scroll;
	overflow-x: hidden;
}
.ie7 body{
	overflow:hidden;
}
a{
	color: #333;
	text-decoration: none;
}
.container{
	position: relative;
	text-align:right;
    margin-right: 20px;
}
.clr{
	clear: both;
}

.container > header h1{
  font-family: "helvetica neue", helvetica;
	font-size: 35px;
	line-height: 85px;
	position: relative;
	font-weight: 400;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    padding: 0px 0px 5px 0px;
}


.slideshow,
.slideshow:after {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -5;
}
.slideshow:after {
    content: '';
    background: transparent url(../images/pattern.png) repeat top left;
}
.slideshow li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: -5;
	-webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 36s linear infinite 0s;
    -moz-animation: imageAnimation 36s linear infinite 0s;
    -o-animation: imageAnimation 36s linear infinite 0s;
    -ms-animation: imageAnimation 36s linear infinite 0s;
    animation: imageAnimation 36s linear infinite 0s;
}
.slideshow li div h3 {
  font-family: "helvetica neue", helvetica;
  text-transform: uppercase;
  font-size: 80px;
  padding: 0;
  line-height: 200px;
	color: rgba(255,255,255, 0.8);
}
.slideshow li:nth-child(1) span { background-image: url(399085.jpg) }
.slideshow li:nth-child(2) span {
    background-image: url(681111.jpg);
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
}
.slideshow li:nth-child(3) span {
    background-image: url(734981.jpg);
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
}
.slideshow li:nth-child(4) span {
    background-image: url(740878.jpg);
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s;
}
.slideshow li:nth-child(5) span {
    background-image: url(787275.jpg);
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s;
}
.slideshow li:nth-child(6) span {
    background-image: url(boeing_747_8_intercontinental-wallpaper-1920x1080.jpg);
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s;
}
.slideshow li:nth-child(2) div {
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
}
.slideshow li:nth-child(3) div {
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
}
.slideshow li:nth-child(4) div {
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s;
}
.slideshow li:nth-child(5) div {
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s;
}
.slideshow li:nth-child(6) div {
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s;
}
/* Animation for the slideshow images */
@-webkit-keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    -webkit-animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    -webkit-transform: scale(1.05);
	    -webkit-animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	    -webkit-transform: scale(1.1);
	}
	25% {
	    opacity: 0;
	    -webkit-transform: scale(1.1);
	}
	100% { opacity: 0 }
}
@-moz-keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    -moz-animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    -moz-transform: scale(1.05);
	    -moz-animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	    -moz-transform: scale(1.1);
	}
	25% {
	    opacity: 0;
	    -moz-transform: scale(1.1);
	}
	100% { opacity: 0 }
}
@-o-keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    -o-animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    -o-transform: scale(1.05);
	    -o-animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	    -o-transform: scale(1.1);
	}
	25% {
	    opacity: 0;
	    -o-transform: scale(1.1);
	}
	100% { opacity: 0 }
}
@-ms-keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    -ms-animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    -ms-transform: scale(1.05);
	    -ms-animation-timing-function: ease-out;
    }
	17% {
	    opacity: 1;
	    -ms-transform: scale(1.1);
	}
	25% {
	    opacity: 0;
	    -ms-transform: scale(1.1);
	}
	100% { opacity: 0 }
}
@keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    transform: scale(1.05);
	    animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	    transform: scale(1.1);
	}
	25% {
	    opacity: 0;
	    transform: scale(1.1);
	}
	100% { opacity: 0 }
}
/* Show at least something when animations not supported */
.no-cssanimations .slideshow li span{
	opacity: 1;
}
@media screen and (max-width: 1140px) { 
	.slideshow li div h3 { font-size: 100px }
}
@media screen and (max-width: 600px) { 
	.slideshow li div h3 { font-size: 50px }
}








.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color: #141212;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#logoutsm,#profile{
    float: right;
}
li a{
    float:left;
}

#profile{
    display:block;
    color: white;
    padding:16px 16px;
}


li a {
    display: block;
    color: white;
    font-size: 15px;
    top:10px;
    font-family:"Comic Sans MS", cursive, sans-serif;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
}
li a:hover{
    color:#fff!important;background-color:#f44336!important
}
li c:hover{
   color:#fff!important;background-color:#f44336!important 
}

#check{
    font-size: 1.8vw;
    max-width:60px;
    max-height: 100px;
    background-color:white;
    margin:30px;
    color: red;
    line-height: 10vw;
    font-family: "Times New Roman",cursive,monospace;
    font-weight: bolder;
    padding: 1vw 8vw 30vw;
    opacity: 0.5;
    border-radius: 10px;    
    
}

/*body{
    
    background: url(787275.jpg);
    background-size:1366px 768px;
    background-repeat: repeat-x repeat-y;
}*/


.search_flights{
    width:800px;
    height:370px;
    background: #141212;
    margin: -90px 500px;
    padding:40px 20px;
    border-radius: 10px;
    align-content: center;
    z-index: 1;
}
#searchflights{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 26px;
    color: #fff;
    font-family: sans-serif;
}

.search_flights p{
    text-indent: 90px;
    font-size:18px;
    font-weight: bold;
    padding: 0;
    color: #fff;
    font-family: sans-serif;
    
}

.search_flights input{
    width: 100%;
}
.search_flights input[type="text"],input[type="date"]{
     border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    width: 270px;
    font-size: 14px;
    margin-left: 90px;
    margin-bottom: 120px;
    font-family: sans-serif;
    
}
#to,#arr_date{
    float: left;
}

.btn{
    position: absolute;
    top: 91%;
    left:69%;
    transform: translate(-50%,-50%);
    width:200px;
    height:50px;
    text-align: center;
    line-height:0px;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background:linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 400%;
    border-radius: 30px;
    z-index:1;
    border: none;
}
.btn:hover{
    animation: animate 8s linear infinite;
    
    
}
@keyframes animate{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}

.btn:before{
    content:'';
    position: absolute;
    top:-5px;
    left:-5px;
    bottom:-5px;
    right:-5px;
    z-index:-1;
    background:linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 400%;
    border-radius: 40px;
    filter: blur(20px);
    opacity: 0;
    transition: 0.5s;
}

.btn:hover:before{
    filter:blur(20px);
    opacity:1; 
    animation: animate 8s linear infinite; 
    
}

#arr,#arr_date,#dep,#dep_date{
    visibility:hidden;
}




@import url('https://fonts.googleapis.com/css?family=Lato');




#radiobtn #oneway{
  color: #AAAAAA;
  display: block;
  position: relative;
  float: left;
  width: 50%;
  height: 15px;
    left: 70px;
    top:28px;
    margin-bottom: -8px;
}

#radiobtn #oneway input[type=radio]{
  position:absolute;
  visibility: hidden;
}

#radiobtn #oneway label{
  display: block;
  position: relative;
  font-weight: bold;
  font-size: 18px;
  padding: 25px 25px 25px 80px;
  margin: 10px auto;
  height: 30px;
  z-index: 9;
  cursor: pointer;
  font-family: sans-serif;
  top:72px;
  -webkit-transition: all 0.25s linear;
}

#radiobtn #oneway:hover label{
	color: #FFFFFF;
}

#radiobtn #oneway .check{
  display: block;
  position: absolute;
  border: 3px solid #AAAAAA;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  left: 20px;
	z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}

#radiobtn #oneway:hover .check {
  border: 3px solid #FFFFFF;
}

#radiobtn #oneway .check::before {
  display: block;
  position: absolute;
	content: '';
  border-radius: 100%;
  height: 10px;
  width: 10px;
  top: 5px;
	left: 5px;
  margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}

/*nfnbwbfwqblfqibwljisbkjfqfdq */

#radiobtn #roundtrip{
  color: #AAAAAA;
  display: block;
  position: relative;
  float: left;
  width: 50%;
  height: 15px;
    left: 70px;
    top:28px;
    margin-bottom: -8px;
}

#radiobtn #roundtrip input[type=radio]{
  position: absolute;
  visibility: hidden;
}

#radiobtn #roundtrip label{
  display: block;
  position: relative;
  font-weight: bold;
  font-size: 18px;
  padding: 25px 25px 25px 80px;
  margin: 10px auto;
  height: 30px;
  z-index: 9;
  cursor: pointer;
  font-family: sans-serif;
  top:72px;
  -webkit-transition: all 0.25s linear;
}

#radiobtn #roundtrip:hover label{
	color: #FFFFFF;
}

#radiobtn #roundtrip .check{
  display: block;
  position: absolute;
  border: 3px solid #AAAAAA;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  left: 20px;
	z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}

#radiobtn #roundtrip:hover .check {
  border: 3px solid #FFFFFF;
}

#radiobtn #roundtrip .check::before {
  display: block;
  position: absolute;
	content: '';
  border-radius: 100%;
  height: 10px;
  width: 10px;
  top: 5px;
	left: 5px;
  margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}



input[type=radio]:checked ~ .check {
  border: 3px solid #0DFF92;
}

input[type=radio]:checked ~ .check::before{
  background: #0DFF92;
}

input[type=radio]:checked ~ label{
  color: #0DFF92;
}